<!DOCTYPE html>
<html lang="en" ng-app="miniUser">
<head>
    <meta charset="UTF-8"></meta>
    <title>Mini User</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="/js/miniUser.js"></script>
</head>
<body>
    <div ng-controller="UserController">
        <span>Search: <input type="text" ng-model="search"/></span>
        <span ng-click="getList()">Show users</span>
        <span>{{message}}</span>
        <form name="newUser" ng-submit="addUser()" novalidate="">
            <input type="text" placeholder="name" ng-model="name" ng-required="true"/>
            <input type="email" placeholder="email" ng-model="email" ng-required="true"/>
            <input type="submit" value="Add User" ng-disabled="newUser.$invalid"/>
        </form>
        <table>
            <tr>
                <th>
                    id
                    <span ng-click="order = 'id'">+ </span>
                    <span ng-click="order = '-id'">-</span>
                </th>
                <th>
                    name
                    <span ng-click="order = 'name'">+ </span>
                    <span ng-click="order = '-name'">-</span>
                </th>
                <th>
                    email
                    <span ng-click="order = 'email'">+ </span>
                    <span ng-click="order = '-email'">-</span>
                </th>
                <th>delete</th>
            </tr>
            <tr ng-repeat="user in users | orderBy: order | filter: search">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><div ng-click="removeUser(user)">x</div></td>
            </tr>
        </table>
    </div>
</body>
</html>