<!DOCTYPE html>
<html lang="en" ng-app="miniUser">
<head>
    <meta charset="UTF-8"></meta>
    <title>Mini User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="/js/miniUser.js"></script>
</head>
<body>
    <p>Name : <input type="text" ng-model="name"/></p>
    <h1>Hello {{name}}</h1>
    <div ng-controller="UserController">
            <form ng-submit="addUser()">
                <input type="text" placeholder="name" ng-model="name"/>
                <input type="text" placeholder="email" ng-model="email"/>
                <input type="submit" value="Add User"/>
            </form>
            <ul>
                <li ng-repeat="user in users"><h4>{{user.id}}: {{user.name}} - {{user.email}}</h4><span ng-click="removeUser(user)">x</span></li>
            </ul>
    </div>
        <!--<main ng-view=""></main>-->
</body>
</html>